body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbbbbb;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0047b3;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
 